body {
  background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex; /* Força tudo virar coluna */
  justify-content: space-around;
}

/* Seletor específico - remover os pontinhos dos li que estão na classe menu */
.menu li {
  list-style: none;
}

/* Primeiro removemos o traço dos links */
a {
  color: teal;
  text-decoration: none;
}

/* Em seguida mostraremos o traço apenas quando passar o mouse por cima do link (assunto: pseudo-classe CSS) */
a:hover {
  text-decoration: underline;
}

.site-subtitlle,
.site-titlle {
  color: whitesmoke;
  text-align: center;
}

.site-subtitlle {
  font-style: italic;
}